/* ***영상 섹션 */
#ani {
  background-color: #FFE3BA;
}
#ani video {
  width:60rem;
  margin-top:3rem;
}

@media screen and (max-width:1024px) {
  #ani video {
    width:40rem;
    margin-top:9%;
  }
}

@media screen and (max-width:480px) {
  #ani video {
    width:22rem;
    margin-top:25%;
  }
}