/* ***로고 */
#logo {
  left:1rem;
  top:.5rem;
  font-family: 'Dongle', sans-serif;
  font-size:2rem;
  pointer-events: none;
  z-index: 100;
}


/* ***홈 섹션 */
#home {
  background: url(../img/bg_map.png) no-repeat 50% 50% / cover
}
/* 제목 */
#title-wrap {
  transform: translateY(-11.72%);
  z-index: 10;
}
/* 주제 */
#title-wrap h2 {
  font-size: 8rem;
  text-align: center;
  letter-spacing: -.15em;
  margin-top:4rem;
}
#title-wrap h2 span:nth-child(4) {
  margin-left:1.5rem;
}
/* 날짜 */
#title-wrap p:nth-of-type(1) {
  font-size: 2rem;
}
/* 말씀 */
#title-wrap p:nth-of-type(2) {
  font-size: 1rem;
  margin-top:.875rem;
}
/* 햇빛 */
#sun { 
	top:20%;
	right:-7%;
	margin: auto;  
	width:70px;
	height:70px;
	border-radius:50%;	
	background:#ffffff;
	opacity:0.9;			
	box-shadow: 0px 0px 40px 15px white;
  z-index: 11;
  pointer-events: none;
}
#ray_box {
  position: absolute;
  margin: auto;
	top:0px;
	left:0;
	right:0;
	bottom:0;	
  width:70px;  
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 80s linear infinite;
}
.ray {  
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
		background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.26;
}
.ray1 {    
    height:170px;
    width:30px;
    transform: rotate(180deg);
    top:-175px;
    left: 15px;
}
.ray2 {
    height:100px;
    width:8px;
    transform: rotate(220deg);
    top:-90px;
    left: 75px;
}
.ray3 {
    height:170px;
    width:50px;
    transform: rotate(250deg);
    top:-80px;
    left: 100px;
}
.ray4 {
    height:120px;
    width:14px;
    transform: rotate(305deg);
    top:30px;
    left: 100px;
}
.ray5 {
    height:140px;
    width:30px;
    transform: rotate(-15deg);
    top:60px;
    left: 40px;
}
.ray6 {
    height:90px;
    width:50px;
    transform: rotate(30deg);
    top:60px;
    left: -40px;
}
.ray7 {
    height:180px;
    width:10px;
    transform: rotate(70deg);
    top:-35px;
    left: -40px;
}
.ray8 {
    height:120px;
    width:30px;
    transform: rotate(100deg);
    top:-45px;
    left:-90px;
}
.ray9 {
    height:80px;
    width:10px;
    transform: rotate(120deg);
    top:-65px;
    left:-60px;
}
.ray10 {
    height:190px;
    width:23px;
    transform: rotate(150deg);
    top:-185px;
    left: -60px;
}
@keyframes ray_anim { 
		0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
/* 구름 */
#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 10rem;
  right: 0;
  top: 0;
  z-index: 6;
  pointer-events: none;
}
/* 구름 KEYFRAMES */
@-webkit-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}
@-moz-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}
@keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}
/* ANIMATIONS */
.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}
.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}
.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}
.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}
/* 구름 오브젝트 */
.cloud {
  background: #fff;
  background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 120px;
  position: relative;
  width: 350px;
}
.cloud:after, .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}
.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}
.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}
/* 사람 */
#person1, #person2 {
  z-index: 7;
  pointer-events: none;
}



/* ***안내문 섹션 */
#notice {
  width:max-content
}
/* 슬라이드 ul */
#slide-ul {
  background-color: #ffd9a1;
}
/* 슬라이드 버튼 */
#slide-btn {
  width:50vw;
  height:100vh;
  left:50%;
  top:50%;
  transform: translate(50%, 5%);
  z-index: 10;
}
#next, #prev {
  width:3rem;
  height:3rem;
  border-radius: 50%;
  background-color: rgba(53, 37, 15,.7);
  transition: .3s;
  cursor: pointer;
}
#next:hover, #prev:hover {
  background-color: rgba(53, 37, 15,1);
}
#next img, #prev img {
  width:100%;
  pointer-events: none;
}
#next img {
  transform: translateX(2px);
}
#prev img {
  transform: translateX(-2px);
}
/* 슬라이드 크기 */
#part1, #part2, #part3, #part4, #part5 {
  width:100vw;
  height:100vh;
}
/* 파트별 부제 */
#part1 p, #part2 p, #part3 p, #part4 p, #part5 p {
  text-align: center;
}
/* 파트1 태블릿 */
#monitor {
  width:50rem;
  transform: translateY(1rem);
}
#monitor img:nth-child(1) {
  width:100%;
  pointer-events: none;
}
/* 파트1 qr코드 */
#qr {
  left:5rem;
  bottom:5rem;
  animation: qr .8s infinite alternate;
}
@keyframes qr {
  0% {

  }
  100% {
    bottom: 6rem;
  }
}
/* 파트별 이미지 박스 */
#offline, #award, #rest, #time-table {
  width:48rem;
  height:35rem;
  background-color: #fafafa;
  margin-top:2.5rem;
}





/* ***애니 섹션 */
#ani {
  background-color: #FFE3BA;
}
#ani video {
  width:60rem;
  margin-top:3rem;
}



/* ***초대장 섹션 */
#invite {
  background-color: rgb(255, 217, 161);
}
#letter {
  width:100%;
  height:100%;
}
/* 편지 박스 */
#letter > div {
  width: 37.5rem;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
/* 편지 이미지 */
#letter1 img, #letter2 img, #letter3 img, #letter-paper img {
  width:100%;
  pointer-events: none;
}
#letter div:nth-child(3) {
  pointer-events: none;
}
/* 편지지 애니메이션(반복) */
.letter2-ani {
  animation: letter .5s infinite alternate;
}
@keyframes letter {
  0% {
  }
  100% {
    transform: translateY(1rem);
  }
}
/* 편지지 애니메이션(열어보기 클릭시) */
.letter2-open {
  animation: open .8s;
}
@keyframes open {
  0% {

  }
  100% {
    transform: translateY(-3rem);
  }
}
/* 편지 클릭 텍스트 */
#letter div:nth-child(5) {
  top:25%;
}
#letter-text div {
  width:100%;
}
#letter-text div p {
  margin: 1rem .5rem 0;
  width:8rem;
  height:2rem;
  line-height: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #d1dced;
  font-weight: 400;
  transition: .3s;
}
#letter-text div p:hover {
  background-color: #bbcfee;
}
/* 닫기 버튼 */
#close-btn {
  right: -1rem;
  top:2rem;
  width:2rem;
  height:2rem;
  cursor: pointer;
  
}
#close-btn img {
  width:1.5rem;
  transition: .3s;
}
#close-btn:hover img {
  transform:rotate(90deg);
}



/* ***문의 섹션 */
#contact {
  background-color: #FFE3BA;
}
/* 제목 */
#contact h2 {
  margin-top:5%;
}
/* 담당자 */
#person-in-charge {
  width:48rem;
  height:max-content;
  margin-top:3rem;
}
/* 담당자 사진 */
#person-in-charge div div:nth-child(1) {
  width:8rem;
  height:8rem;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .22);
  border:.25rem solid #fafafa;
  overflow: hidden;
  z-index: 1;
}
#person-in-charge div div:nth-child(1) img {
  width:100%;
}
/* 담당자 정보 박스 */
#person-in-charge div div:nth-child(2) {
  height:5rem;
  border-radius: 5rem;
  background-color: #f0cd98;
  transform: translateX(-3rem);
  padding-left: 2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .22);
}
/* 담당자 이름 */
#person-in-charge div div:nth-child(2) strong {
  width:13rem;
  font-size: 1.5rem;
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  border-radius: 1.25rem;
}
/* 담당자 연락처 */
#person-in-charge div div:nth-child(2) p {
  font-size:1.125rem;
}
/* 오시는 길(맵) */
#map {
  margin-top:4rem;
}




/* ***메뉴 */
#menu {
  top:50%;
  right:2%;
  transform: translate(0, -50%);
  width:3.75rem;
  height:30rem;
  z-index: 100;
}
/* 버튼 */
#menu > div, #menu > a {
  width:3.75rem;
  height:3.75rem;
  line-height: 3.75rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(213, 181, 134, .7);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .22), -4px -4px 4px rgba(255, 255, 255, .22);
  transition: .3s;
  text-indent: 4.75rem;
  font-family: 'Jua', sans-serif;
  color:#fafafa;
  text-decoration: none;
}
/* 버튼 호버 */
#menu > div:hover, #menu > a:hover {
  width:6.2rem;
  border-radius: 3.75rem;
  transform: translateX(-2.5rem);
  text-indent: 3.5rem;
  background-color: #35250f;
}
#menu > div:nth-child(1):hover {
  text-indent: 4rem;
}
/* 버튼 아이콘 이미지 */
#menu div div {
  width:3.75rem;
  height:3.75rem;
}
/* 홈 버튼 */
#home-btn {
  background:url(../img/icon/icon_home.png) no-repeat 0 50% / 3.75rem;
}
/* 안내 버튼 */
#notice-btn {
  background: url(../img/icon/icon_notice.png) no-repeat 0 50% / 3.75rem;;
}
/* 애니 버튼 */
#ani-btn {
  background: url(../img/icon/icon_ani.png) no-repeat 0 50% / 3.75rem;;
}
/* 초대 버튼 */
#letter-btn {
  background: url(../img/icon/icon_letter.png) no-repeat 0 50% / 3.75rem;;
}
/* 문의 버튼 */
#contact-btn {
  background: url(../img/icon/icon_contact.png) no-repeat 0 50% / 3.75rem;;
}
/* 밴드 버튼 */
#band-btn {
  background: url(../img/icon/icon_band.png) no-repeat 0 50% / 3.75rem;;
}




/* 배경 */
#bg {
  left:0;
  top:0;
  z-index: 5;
  pointer-events: none;
}

/* 미디어쿼리 */
@media screen and (max-width:1024px) {
  /* 메뉴 */
  #menu {
    flex-direction: row;
    top:94%;
    left:50%;
    transform: translate(-50%, -50%);
    height:3.75rem;
    width:28rem;
    z-index: 100;
    
  }
  /* 메뉴 호버 */
  #menu > div:hover, #menu > a:hover {
    width:3.75rem;
    transform: translateX(0);
    text-indent: 5rem;
  }

  /* ***안내섹션*/
  /* 태블릿 */
  #monitor {
    width:34rem;
    transform: translateY(15%);
  }
  /* qr코드 */
  #qr {
    left:3rem;
    bottom:3rem;
    animation: qr .8s infinite alternate;
  }
  @keyframes qr {
    0% {
    }
    100% {
      bottom: 4rem;
    }
  }
}