/* ***로고 */
#logo {
  left:1rem;
  top:.5rem;
  font-family: 'Dongle', sans-serif;
  font-size:2rem;
  pointer-events: none;
  z-index: 100;
}


/* ***홈 섹션 */
#home {
  background-color:#fafafa;
}
/* 제목 */
#title-wrap {
  margin-top:10rem;
}
/* 주제 */
#title-wrap h2 {
  font-size: 6rem;
  text-align: center;
  letter-spacing: -.15em;
  z-index: 1;
  margin-top:4rem;
}
#title-wrap h2 span:nth-child(4) {
  margin-left:1.5rem;
}
/* 부제 */
#title-wrap p:nth-of-type(1) {
  font-size: 2rem;
}
/* 날짜 */
#title-wrap p:nth-of-type(2) {
  font-size: 1.375rem;
  margin-top:.5rem;
}


/* ***안내문 섹션 */
#notice {
  background-color: #D5B586;
  width:200vw;
}
#part1, #part2 {
  width:100vw;
  height:100vh;
}
/* 태블릿 */
#monitor {
  width:50rem;
  transform: translateY(1rem);
}
#monitor img {
  width:100%;
  pointer-events: none;
}
/* qr코드 */
#qr {
  left:5rem;
  bottom:5rem;
  animation: qr .8s infinite alternate;
}
@keyframes qr {
  0% {

  }
  100% {
    bottom: 6rem;
  }
}


/* ***애니 섹션 */
#ani {
  background-color: #b6cfb6;
}



/* ***초대장 섹션 */
#invite {
  background-color: #b6becf;
}
#letter {
  width:100%;
  height:100%;
}
/* 편지 박스 */
#letter > div {
  width: 37.5rem;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
/* 편지 이미지 */
#letter div img {
  width:100%;
  pointer-events: none;
}
#letter div:nth-child(3) {
  pointer-events: none;
}
#letter div:nth-child(2) img {
  animation: letter .5s infinite alternate;
}
@keyframes letter {
  0% {
  }
  100% {
    transform: translateY(1rem);
  }
}
/* 편지 클릭 텍스트 */
#letter div:nth-child(4) {
  top:25%;
}
#letter div:nth-child(4) div {
  width:100%;
}
#letter div:nth-child(4) div p {
  margin: 1rem .5rem 0;
  width:8rem;
  height:2rem;
  line-height: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #b6becf;
  font-weight: 400;
}





/* ***문의 섹션 */
#contact {
  background-color: #C1D7DB;
}
/* 제목 */
#contact h2 {
  margin-top:5%;
}
/* 담당자 */
#person-in-charge {
  width:48rem;
  height:max-content;
  margin-top:3rem;
}
/* 담당자 사진 */
#person-in-charge div div:nth-child(1) {
  width:8rem;
  height:8rem;
  border-radius: 50%;
  background-color: #ABBEC2;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .22);
  border:.25rem solid #fafafa;
  overflow: hidden;
  z-index: 1;
}
#person-in-charge div div:nth-child(1) img {
  width:100%;
}
/* 담당자 정보 박스 */
#person-in-charge div div:nth-child(2) {
  height:5rem;
  border-radius: 5rem;
  background-color: #ABBEC2;
  transform: translateX(-3rem);
  padding-left: 2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .22);
}
/* 담당자 이름 */
#person-in-charge div div:nth-child(2) strong {
  width:13rem;
  font-size: 1.5rem;
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  border-radius: 1.25rem;
}
/* 담당자 연락처 */
#person-in-charge div div:nth-child(2) p {
  font-size:1.125rem;
}
/* 오시는 길(맵) */
#map {
  margin-top:4rem;
}




/* ***메뉴 */
#menu {
  top:50%;
  right:2%;
  transform: translate(0, -50%);
  width:3.75rem;
  height:30rem;
  z-index: 100;
}
/* 버튼 */
#menu > div, #menu > a {
  width:3.75rem;
  height:3.75rem;
  line-height: 3.75rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .22), -4px -4px 4px rgba(255, 255, 255, .22);
  transition: .3s;
  text-indent: 4.75rem;
  font-family: 'Jua', sans-serif;
  color:#fafafa;
  text-decoration: none;
}
/* 버튼 호버 */
#menu > div:hover, #menu > a:hover {
  width:6.2rem;
  border-radius: 3.75rem;
  transform: translateX(-2.5rem);
  text-indent: 3.5rem;
}
#menu > div:nth-child(1):hover {
  text-indent: 4rem;
}
/* 버튼 아이콘 이미지 */
#menu div div {
  width:3.75rem;
  height:3.75rem;
}
/* 홈 버튼 */
#home-btn {
  background:url(../img/icon/icon_home.png) no-repeat 0 50% / 3.75rem;
}
/* 안내 버튼 */
#notice-btn {
  background: url(../img/icon/icon_notice.png) no-repeat 0 50% / 3.75rem;;
}
/* 애니 버튼 */
#ani-btn {
  background: url(../img/icon/icon_ani.png) no-repeat 0 50% / 3.75rem;;
}
/* 초대 버튼 */
#letter-btn {
  background: url(../img/icon/icon_letter.png) no-repeat 0 50% / 3.75rem;;
}
/* 문의 버튼 */
#contact-btn {
  background: url(../img/icon/icon_contact.png) no-repeat 0 50% / 3.75rem;;
}
/* 밴드 버튼 */
#band-btn {
  background: url(../img/icon/icon_band.png) no-repeat 0 50% / 3.75rem;;
}


/* 미디어쿼리 */
@media screen and (max-width:1024px) {
  /* 메뉴 */
  #menu {
    flex-direction: row;
    top:94%;
    left:50%;
    transform: translate(-50%, -50%);
    height:3.75rem;
    width:28rem;
    z-index: 100;
    
  }
  #menu > div, #menu > a {
    background-color: rgb(28, 141, 255);
  }
  /* 메뉴 호버 */
  #menu > div:hover, #menu > a:hover {
    width:3.75rem;
    transform: translateX(0);
    text-indent: 5rem;
  }

  /* ***안내섹션*/
  /* 태블릿 */
  #monitor {
    width:34rem;
    transform: translateY(15%);
  }
  /* qr코드 */
  #qr {
    left:3rem;
    bottom:3rem;
    animation: qr .8s infinite alternate;
  }
  @keyframes qr {
    0% {
    }
    100% {
      bottom: 4rem;
    }
  }
}